<div class="app-container">
  <div class="page-content">
    <router-outlet></router-outlet>
  </div>

  <nav class="bottom-nav">
    <a
      *ngFor="let item of navItems"
      [routerLink]="item.path"
      routerLinkActive="active"
      class="nav-item"
    >
      <ng-container *ngIf="item.path === '/notifications'; else regularIcon">
        <mat-icon
          [matBadge]="(unreadCount$ | async) || null"
          matBadgeColor="warn"
          matBadgeSize="small"
        >{{ item.icon }}</mat-icon>
      </ng-container>
      <ng-template #regularIcon>
        <mat-icon>{{ item.icon }}</mat-icon>
      </ng-template>
      <span>{{ item.label }}</span>
    </a>
  </nav>
</div>
